:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.about-layout{
  font-family: var(--font-about);
  color: #2c3e50; /* Zmiana koloru tekstu dla strony About */
  background-color: #ecf0f1; /* Tło dla strony About */
}
.about-container {
  padding: 20px;
}
.navbar {
  background-color: #333; /* Kolor tła paska */
  padding: 10px 20px; /* Odstęp wewnętrzny */
}

.nav-list {
  display: flex; /* Używamy flexbox do rozmieszczania elementów */
  justify-content: space-around; /* Rozstawiamy elementy równomiernie */
  list-style: none; /* Usuwamy domyślne kropki listy */
  margin: 0; /* Usuwamy margines */
  padding: 0; /* Usuwamy wypełnienie */
}

.nav-list li {
  margin: 0 10px; /* Odstęp między elementami */
}

.nav-list a {
  text-decoration: none; /* Usuwamy podkreślenie */
  color: white; /* Kolor tekstu */
  font-size: 18px; /* Rozmiar czcionki */
  padding: 5px 10px; /* Odstęp wewnętrzny dla przycisków */
  border-radius: 5px; /* Zaokrąglenie rogów */
  transition: background-color 0.3s; /* Animacja zmiany tła */
}

.nav-list a:hover {
  background-color: #555; /* Kolor tła przy najechaniu */
}
footer {
  background-color: #333; /* Opcjonalny kolor tła */
  color: #fff; /* Opcjonalny kolor tekstu */
  text-align: center; /* Opcjonalne wyrównanie tekstu */
  padding: 10px 0;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Wysokość widoczna na ekranie */
}

.content {
  flex: 1; /* Zajmuje pozostałą przestrzeń */
  text-align: center;
}